@media (max-width: 200px) {
    .carousel-inners .carousel-items > div {
        display: none;
    }
    .carousel-inners .carousel-items > div:first-child {
        display: block;
    }
}

.carousel-inners .carousel-items.active,
.carousel-inners .carousel-item-next,
.carousel-inners .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 72px) {
    
    .carousel-inners .carousel-item-right.active,
    .carousel-inners .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inners .carousel-item-left.active, 
    .carousel-inners .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inners .carousel-item-right,
.carousel-inners .carousel-item-left{ 
  transform: translateX(0);
}

