@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

  @media (max-width: 1000px) {
    img[class= hidden-mobile] ,.hidden-mobile {
      display: none;
    }

    .centered-text {
      text-align: center;
    }
  }

  g {
    font-weight: bold;
    font-size: 18;
  }
  
  #berita-pemkot {
    width: 18rem;
  }

  @media(max-width: 700px) {
    img.mobile-navbar {
      height: 50px;
      width: 35px;
    }

    #berita-pemkot {
      width: auto;
    }

    #search-panel {
      width: 70%;
    }

    .siaga-covid-mobile {
      margin-top: 10px;
    }

    .rule-mobile {
      width: 100vh;
      margin-bottom: 10px !important;
    }
  }

  @media(min-width: 1000px) {
    img.non-mobile {
      height: 40rem;
    }
  }

#kata-data-list, #statistik-pengunjung {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

ul#kata-data-list li {
  display: flex;
  transition: .5s;
}

.kata-data-title {
  text-align: left;
}

ul#kata-data-list li span:nth-child(1) {
  width: 500px;
}

ul#statistik-pengunjung li span:nth-child(1) {
  width: 240px;
}

#icon.ms-3 a{
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #f3c402;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

#icon.ms-3 a:hover{
  color: #262D33;
  background-color: #ffffff;
}

.bi {
  color: #262D33;
}